.home{
    color: #1DC690 !important;
}

.content{
    margin-top: 42px !important;
    margin-left: 5px !important;
}

.content h3{
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 23px;
}

.content h4{
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 13px;
    text-align-last: right;
    margin-top: -23px;
    margin-right: 25px !important;
    opacity: 80%;
}

.card-body{
    background-color: white;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 14px;
}

.card-body p{
    margin-top: -10px;
    margin-left: -5px;
}

.latestnews{
    margin-right: 35px;
    margin-left: 35px;

}
.score{
    text-align: center;
    border-right: 3px solid #D2D2D2 !important;
}

.horizontal-line{
    border-bottom: 3px solid #D2D2D2;
}

.match-team{
    background-color: #1DC690;
    border-radius: 10px;
}

.match-score{
    background-color: #010027;
    border-radius: 10px;
    font-weight: bold;
}

.match-score h5{
    font-weight: bold;
    color: #fff;
}

.team-1 h5{
    font-weight: 750;
    color: #010027;
}

.bot{
    margin-bottom: 55px;
}