.news{
    color:#1DC690 !important;
  }

  .news-body{
    background-color: #010027;
    color: #fff;
    /* border-radius: 0px 55px 55px 0px; */
    
  }

  .news-body h2{
    margin-top: -60px;
    text-align: inherit;
    font-family: Noto Sans;
    font-weight: bold;

  }

  .news-title{
    text-align: center;
    font-size: 48px;
  }

  .news-img{
    /* border-radius: 55px 0px 0px  55px !important; */
    background-image: url("/img/erling-haaland-borussia-dortmund-2019-20_2ae2yy6yln371gac1q9enxn2v.png");
    background-size: cover;
  }

  .card-title{
    font-weight: bold;
  }

  .card-body{
    background-color:  #010027;
    color: #fff;
  }

  .left{
    margin-right: 15px;
    border-radius: 20% !important;
  }
.mid{
  margin-right: 15px;
  border-radius: 25px;
}

.cardmid{
  margin-top: 36px;
}

.bot{
  margin-top: 36px !important;
}
