.news{
    color:#1DC690 !important;
  }

  .news-body{
    background-color: #010027;
    color: #fff;
    border-radius: 0px 40px 40px 0px;
    
  }

  .news-body h2{
    margin-top: -60px;
    text-align: inherit;
    font-family: Noto Sans;
    font-weight: bold;

  }

  .news-title{
    text-align: center;
    font-size: 48px;
  }

  .news-img{
    border-radius: 40px 0px 0px  40px !important;
    background-image: url("/img/erling-haaland-borussia-dortmund-2019-20_2ae2yy6yln371gac1q9enxn2v.png");
    background-size: cover;
  }

  .card-title{
    font-weight: bold;
  }

  .card-body{
    background-color:  #010027;
    color: #fff;
  }

  .left-card{
    margin-right: 15px;
    border-radius: 40px !important;
  }

  .left-card .card-body{
    border-radius: 0px 0px 40px 40px !important;
  }

  .mid-card{
    margin-right: 15px;
    border-radius: 40px !important;
  }

  .mid-card .card-body{
    border-radius: 0px 0px 40px 40px !important;
  }

  .right-card{
    margin-right: 15px;
    border-radius: 40px !important;
  }

  .right-card .card-body{
    border-radius: 0px 0px 40px 40px !important;
  }



.card-img-top{
  border-radius: 40px 40px 0px  0px !important;
}

.left-bottom-card{
  border-radius: 40px;
}
